/* Autor: Felix Schaphaus */

:host {
  min-width: 300px;
  max-width: 350px;
  padding: 0.2rem;
}

.item {
  height: 230px;
  background-color: var(--app-default-green);
  border-radius: 0.25rem;
}

slot[name='image']::slotted(*)  {
  height: 230px;
  width: 100%;
  border-radius: 0.25rem;
}

.item:hover {
  slot[name='image']::slotted(*)  {
    opacity: 0.15;
  }

  .remove-recipe ~ slot[name='description']::slotted(*) {
    height: 170px;
  }

  slot[name='description']::slotted(*) {
    visibility: visible;
  }
  
  .remove-recipe {
    visibility: visible;
  }

  .title {
    color: white;
    opacity: 1;
  }
}

.title {
  background-color: var(--app-default-green);
  height: 30px;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 5px;
  top: -30px;
  opacity: 0.85;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

slot[name='description']::slotted(*) {
  height: 200px;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 5px;
  top: -260px;
  visibility: hidden;
  color: white;
}

.remove-recipe {
  position: relative;
  top: -260px;
  left: 5px;
  visibility: hidden;
}

.remove-recipe::before {
  font: normal normal normal 1rem/30px 'Font Awesome 5 Free';
  color: var(--app-default-red);
  content: '\f2ed';
}