/* Autor: Victor Corbet */

*::before, *::after, * {
    box-sizing: border-box;
  }

// Quelle:
// Bei der Umsetzung habe ich mich am YouTube Tutorial: https://www.youtube.com/watch?v=7-1VZ2wF8pw orientiert.

  .pwt-strength {
    position: relative;
    height: 1.6rem;
    width: 90%;
    border: 3px solid grey;
    border-radius: 0.3rem;
    margin: 0 auto;
    overflow:  hidden;
  }
  #pwt-container {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border:hsl(115, 82%, 45%) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pwt-strength::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(1% * var(--passwordStrength , 0));
    background-color: var(--passwordStrength_color , 'red');
    transition: width 200ms;
  }
  .pwt-input {
    margin-top: 1rem;
    width: 90%;
    padding: 0.25rem 0.75rem;
    background-color: hsl(125, 83%, 65%);
    color: white;
    border: 1px solid  hsl(115, 82%, 45%);
    outline: none;
    text-align: center;
    border-radius: 0.3rem;
  }
  .pwt-input:focus {
    background-color: rgb(32, 165, 121);
    border: 0.4rem;
    border-color:  rgb(230, 173, 221);
  }
  .problems > *{
    margin-top: 0.5rem;
    color: hsl(123, 94%, 26%);
  }