/* Autor: Victor Corbet */

#name-check {
    visibility: hidden;
  }
  #name-check[value="success"] {
    visibility: visible;
    color: green;
  }
  #name-check[value="error"] {
    visibility: visible;
    color: red;
  }