/* Autor: Victor Corbet */


h1 {
    text-align: center;
}

details , #container-all-message {
    margin: 1rem auto;
    padding: 0 1rem;
    width: 35em;
    max-width: calc(100% - 2rem);
    position: relative;
    border: 1px solid #39703f;
    transition: background-color .4s;
    background-color: rgb(168, 255, 168);
    color: #1fa712;
    text-align: center;
    align-items: center;
    
    &[open] {
      background-color: white;
      #text-zeitvertreib {
        display: none;
      }
    }
  }

  summary {
    padding: 1rem 2em 1rem 0;
    display: block;
    position: relative;
    font-size: 1.33em;
    font-weight: bold;
    cursor: pointer;
}


#container-one-message {
    align-items: center;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border:#1fa712 solid 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
#container-one-message  > button {
    margin: 10px;
}
#container-one-message  > p {
    border: solid #1fa712 1px;
    border-radius: 5px;
    padding: 10px;
}


.item {
    max-width: 300px;
    word-wrap: break-word;
    align-self: auto;
}
  