/* Autor: Arne Hegemann */

:host {
    padding: 0.75rem;
    border: solid rgba(0, 0, 0, 0.125) 1px;
    border-radius: 0.25rem;
  }

  .header {
    display: flex;
  }

  :host(:hover) {
    background-color: #5cb85c;
  
    span {
      color: white;
    }
  }

  .body {
    margin-top: 0.75rem;  
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.25rem;
  }

  slot[name='image']::slotted(*) {
    border-radius: 0.25rem;
    max-height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  slot[name='title']::slotted(*) {
    flex-grow: 1;    
    font-size: 1.5rem;
    font-weight: bold;
  }