/* Autor: Victor */

h1 {
    font-weight: lighter;
  }
  
form {
  margin-top: 1rem;
}




.name-flex-box {
  height: 38px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#name__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  flex-grow: 1n;
  white-space: nowrap;
  min-width: 150px;
}
#name {
  flex-grow: 2n;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}