/* Autor: Victor Corbet */

h1 {
    font-weight: lighter;
  }
  
form {
  margin-top: 1rem;
}
#name-check {
  visibility: hidden;
}
#name-check[class="success"] {
  visibility: visible;
  color: green;
}
#name-check[class="error"] {
  visibility: visible;
  color: red;
}