/* Autor: Felix Schaphaus */

:host {
  padding: 0.75rem;
  border: solid rgba(0, 0, 0, 0.125) 1px;
  display: flex;
  align-items: center;
}

:host(:not(:first-of-type)) {
  border-top: none;
}

:host(:first-of-type) {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

:host(:last-of-type) {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

button {
  margin-left: 0.75rem;
}

span {
  flex-grow: 1;
}
