/* Autor: Prof. Dr. Norman Lahme-Hütig (FH Münster) */

$theme-colors: (
  primary: #034da1
);

@import "bootstrap";

:host {
  display: block;

  --app-default-green: #5cb85c;
  --app-default-red: #d9534f;
}

.invalid-feedback {
  display: none;
}

.was-validated {
  input:invalid {
    border: solid var(--app-default-red) 1px;
  }
  
  input:invalid ~ .invalid-feedback {
    color: var(--app-default-red);
    margin-top: 0.2rem;
    font-size: 0.8rem;
    display: block;
  }

  input:valid ~ .invalid-feedback {
    display: none;
  }
}
