/* Autor: Felix Schaphaus */

.header {
  label[for="toggle-edit"] {
    float: right;
  }
  form {
    display:none;
  }
  #toggle-edit {
    display: none;
  }
  #toggle-edit:checked ~ form {
    display: block;
  }
}

.cookbooks-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

/* smartphone */
@media screen and (max-width: 600px) {
  .cookbooks-container {
    flex-direction: column;
    flex-grow: 1;
  }
}

/* computer */
@media screen and (min-width: 600px) {
  .cookbooks-container {
    flex-direction: row;
  }
}

.cookbooks-item-wrapper {
  min-width: 300px;
  flex-basis: 33%;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
}

.cookbooks-item {
  height: 220px;
  background-color: aqua;
}